<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380864983500-7hdprviup7i154v83c6hbdh71csariup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380864983500-7hdprviup7i154v83c6hbdh71csariup</string>
	<key>API_KEY</key>
	<string>AIzaSyCbZGdRPc-lABtEw_Uj6l_b2K5lzQpVS-I</string>
	<key>GCM_SENDER_ID</key>
	<string>380864983500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ramoncardena.firebasestarter</string>
	<key>PROJECT_ID</key>
	<string>flutter-starter-5db93</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-starter-5db93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380864983500:ios:9292003f03468ce4e16d69</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-starter-5db93.firebaseio.com</string>
</dict>
</plist>